@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Lora', serif;
}

:root {
  --bg-color: #0f5f53;
  --second-bg-color: #efaa9c;
  --text-color: #000000;
  --main-color: #0ef;
}
 
*::selection {
  background:#0f5f53;
  color: #efaa9c;
}
 
html {
  font-size: 120%;
  overflow-x: hidden;
}
 
body {
  background: #efaa9c;
  color: #000000;
}
 
.header_name {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: #0f5f53;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: 'Lora', serif;
    z-index: 100;
    background-color: red;
}